/* Base */
@import "./base/reset.css";
@import "./base/base.css";

/* Blocks */
@import "./blocks/header.css";
@import "./blocks/section.css";
@import "./blocks/card-interier.css";
@import "./blocks/section-full.css";
@import "./blocks/button.css";
@import "./blocks/card-group.css";
@import "./blocks/contacts.css";
@import "./blocks/form.css";
@import "./blocks/footer.css";