:root {
    --accent: #FFD479;

    --font-base: Tahoma, sans-serif;
    --font-accent: Trebuchet MS, sans-serif;
}

body {
    background-color: #1F2A32;
    color: #FAFAF5;

    font-family: var(--font-base);
    font-weight: 300;
}

.title-1 {
    font-family: var(--font-accent);
    font-weight: 700;
    color: var(--accent);
    font-size: 96px;
}