.card-interier {
    display: block;
    position: relative;
    max-width: 268px;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.card-interier::before {
    opacity: 0;
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--accent);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    transition: all 0.2s ease-in;
}

.card-interier-name {
    opacity: 0;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: var(--font-accent);s
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #fff;

    transition: all 0.2s ease-in;

}

.card-interier:hover .card-interier-name {
    opacity: 1;
    top: 50%
}

.card-interier:hover::before {
    opacity: 1;
}

@media (hover: none) and (pointer:coarse) {
    .card-interier-name {
        opacity: 1;
        top: 50%;
    }
    .card-interier::before {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .card-interier-name {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .card-interier {
        border-radius: 10px;
    }
}